// Variable of bootstrap //
$theme-colors: (
  "primary": #007bff,
  "danger": #ff4136
);

// Colors //
$graylight: #ccc;





// Import all styles of bootstrap //
@import "./../../../bootstrap/scss/bootstrap";



//-------------------- VARIABLES GLOBALES------------------------ //
// Paragraphs Global //
p {
  font-size: 14px;
}

// h1 Global and styles of row //
.galleryTitle {
  border-bottom: 1px solid $graylight;
  margin-bottom: 65px;
  margin-top: 30px;
  border-top: 1px solid $graylight;
}

h1 {
  margin: 16px;
  text-transform: uppercase;
  color: var(--blue);
}






/*=============================================
=            Begin: styles of Navbar            =
=============================================*/
.bg-dark {
  background-color: transparent !important;
  padding: 15px 0 0 30px;
  div {
    ul {
      width: 100%;
      text-transform: capitalize;
      li {
        background-color: var(--info);
        padding: 2px 14px;
        text-align: center;
        width: 14%;
        margin-right: 20px;
        margin-top: 10px;
        a {
          color: var(--dark) !important;
        }
      }

    }
  }
}
/*=====  End: styles of Navbar  ======*/




/*=============================================
=            Begin: style of Top            =
=============================================*/
.top {
  margin-bottom: 30px;
  .container-fluid {
    .row {
      .col-lg-3 {
        padding: 20px;
        img {
          width: 110px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
/*=====  End: styles of Top  ======*/




/*=============================================
=            Begin: Gallery of Images        =
=============================================*/
.galleryImages {
  margin-bottom: 30px;
  .container-fluid {
    .imagesRivers {
      width: 122.4%;
      .col-lg-2 {
        padding: 0;
        img {
          width: 100%;
        }
      }
    }
  }
}
/*=====  End: Gallery of Images  ======*/



/*=============================================
=            Begin: Articles        =
=============================================*/
.articles {
  .container-fluid {
    .row {
      margin-bottom: 70px;
      .col-lg-6 {
        .row {
          border-bottom: 1px solid $graylight;
          margin: 0;
          .col-lg-4 {
            padding: 0;
            img {
              max-width: 230px;
            }
          }
          .col-lg-8 {
            padding: 0;
            h2 {
              text-transform: capitalize;
            }
            p {
              margin-bottom: 40px;
            }
            button {
              text-transform: capitalize;
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
}
/*=====  End: Articles  ======*/





/*=============================================
=            Begin: Contacts        =
=============================================*/
.contacts {
  .container-fluid {
    .row {
      .col-lg-6 {
        padding: 0;
        .jumbotron {
          margin-bottom: 0;
          .contactsDirection {
            width: 390px;
            height: 0;
            font-weight: bold;
            float: right;
            font-size: 18px;
            color: var(--blue);
            i {
              margin-bottom: 22px;
              text-transform: capitalize;
            }
          }
        }
      }
      .contactsStyles {
        padding: 0;
        background-color: var(--blue);
        .row {
          margin-top: 80px;
          a {
            span {
              color: var(--dark);
              font-size: 30px;
            }
          }
          .col-lg-12 {
            form {
              button {
                margin-left: 15px;
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }
  }
}
/*=====  End: Contacts  ======*/



















/*=============================================
=      Begin: Media Moviles Responsive  =
=============================================*/


//------------ Small Device (Telefonos 576 px y mas...!)-------------- //

@include media-breakpoint-only (sm) {

}



//------------ Medium devices (Tablets, min-width: 768px and max-width: 991.98...!)------------- //

@include media-breakpoint-only (md) {
// Globales en table media moviles //
h3 {
  font-size: 1.55rem;
}


// Begin: NavBar //
  nav {
    width: 100%;
    display: inline-block !important;
    padding: 15px 0 0 0 !important;
    a {
      width: 100%;
      text-align: center;
      margin: 0;
    }
    div {
      .navbar-nav {
        justify-content: center !important;
        li {
          padding: 0;
          margin-right: 16px;
          width: 17%;
          a {
            font-size: 14px;
          }
        }
      }
    }
  }


// Begin: slideShow // 
.slideShow {
  .row {
    div {
      ul {
        .slideCaption {
          position: relative !important;
          top: -78px !important;
        }
      }
    }
  }
}

// Begin: Articles //
.articles {
  .container-fluid {
    .row {
      .col-lg-6 {
        margin-bottom: 55px;
        .row {
          .col-md-5 {
            img {
              max-width: 290px;
            }
          }
        }
      }
    }
  }
}

// Begin: Video //
.video {
  .container-fluid {
    .row {
      .col-md-6 {
        padding-bottom: 40px;
      }
    }
  }
}



}


/*---------- Large devices (min-width : 992px and max-width: 1199.98px...!)------------ */
@include media-breakpoint-only (lg) {
  // Begin: Navbar //
  .bg-dark {
    padding: 15px 0 0 10px;
    a {
      img {
        max-width: 240px;
      }
    }
    div {
      ul {
        li {
          padding: 0;
        }
      }
    }
  }

  // Begin: Articles //

  .articles {
    .container-fluid {
      .row {
        .col-lg-6 {
          .row {
            .col-lg-4 {
              img {
                max-width: 100%;
              }
            }
            .col-lg-8 {
              padding-left: 20px;
            }
          }

        }
      }
    }
  }




}


//--------------- Extra large devices (large desktop, 1200px y mas...!) ----------------- //

@include media-breakpoint-only (xl) {

}












/*=====  End: Media Moviles Responsive  ======*/





