// Variable of bootstrap //
$theme-colors: (
  "primary": #007bff,
  "danger": #ff4136
);



// Colors //
$rgbaBlue: rgba(0, 0, 150, 1);
$rgbaBlueLight: rgba(0, 100, 200, 1);
$ColorTomate: #ff6347;





// Cuando son carpetas relativa se colocan 3/ 6puntos y despues localizamos la carpeta raiz. //
/* Import all styles of bootstrap */
@import "./../../../bootstrap/scss/bootstrap";

/* Import all styles of fontawesom */
@import "./../../../plugins/fontawesome/scss/fontawesome.scss";
@import "./../../../plugins/fontawesome/scss/solid.scss";
@import "./../../../plugins/fontawesome/scss/brands.scss";
@import "./../../../plugins/fontawesome/scss/regular.scss";




.external-link-alt {
  @extend %fa-icon;
  @extend .fas;

	float: left;
	font-size: 15px;
	line-height: 1.5rem;

  &:before {
    content: fa-content($fa-var-external-link-alt);
  }
}

.angle-down {
	@extend %fa-icon;
	@extend .fas;

	&:before {
		content: fa-content($fa-var-angle-down);
	    font-size: 1.2em;
	    cursor: pointer;
	}
}






// Icons of botones of colors navigator //
.play-circle {
	@extend %fa-icon;
	@extend .far;

	&:before {
		content: fa-content($fa-var-play-circle);
	}
}


.file-alt {
	@extend %fa-icon;
	@extend .far;

	&:before {
		content: fa-content($fa-var-file-alt);
	}
}


.image {
	@extend %fa-icon;
	@extend .far;

	&:before {
		content: fa-content($fa-var-image);
	}
}

.film {
	@extend %fa-icon;
	@extend .fas;

	&:before {
		content: fa-content($fa-var-film);
	}
}

.users {
	@extend %fa-icon;
	@extend .fas;

	&:before {
		content: fa-content($fa-var-users);
	}
}






/*=============================================
=                  Begin: login               =
===============================================*/
.login {
	background:linear-gradient($rgbaBlue, $rgbaBlueLight);
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	.container {
		.col-lg-12 {
			width: 350px;
			margin: 0 auto;
		    background-color: gray("400");
		    padding-top: 20px;
		    padding-bottom: 20px;
			-webkit-border-radius: 6px 6px 6px 6px;
			border-radius: 6px 6px 6px 6px;
			box-shadow: 0 0 10px var(--dark);
			form {
				h6 {
				    color: var(--white);
				    background-color: var(--dark);
				    text-transform: uppercase;
				    padding: 16px 7px 16px 7px;
				}
				button {
					text-transform: capitalize;
				}
			}
		}
	}
}



/*===========  End of login  ==============*/




/*=============================================
=                  Begin: Inicio               =
===============================================*/
.inicio {
	.container-fluid {
		.row {
			.MenuLogo {
				background-color: var(--dark);
				height: 150vh;
				padding: 0;
				img {
				    margin: 20px 0 20px 0;
				    max-width: 234px;
				    background-color: var(--white);
				}
				ul {
					li {
						a {
							text-transform: capitalize;
							&:hover {
								background-color: var(--light);
							}
						}
					}
				}
			}
			.col-lg-10 {
				.userMenu {
					padding: 20px 0;
					background-color: var(--white);
					-webkit-box-shadow: 0 12px 10px 0 var(--gray-dark);
					box-shadow: 0 2px 10px 0 var(--gray-dark);
					.col-lg-2 {
						a {
							text-decoration: none;
							span {
								font-size: 1.2em;
								.fa-circle {
									color: var(--dark)
								}
								span {
								    position: absolute;
								    top: 0px;
								    right: 0;
								    background-color: $ColorTomate;
								    width: 20px;
								    height: 20px;
								    border-radius: 50%;
								    font-size: 0.7em;
								    text-align: center;
								    line-height: 1.2em;
								    color: var(--white);
								}
							}
						}
					}
					.col-lg-8 {
						p {
						    width: 300px;
						    margin: 0 auto;
						    text-align: center;
						    text-transform: capitalize;
						    font-size: 12px;
						}
					}
					.userMenber {
					    display: flex;
					    align-items: center;
					    justify-content: flex-end;
					    img {
					    	max-width: 40px;
					    }
					    p {
					    	margin: 0;
					    	text-transform: capitalize;
					        margin-left: 12px;
					    }
					}
				}
				.jumbotronWelcome {
					border-bottom: 1px solid gray("200");
					.jumbotron {
						width: 100%;
						z-index: -1;
						.container {
							text-transform: capitalize;
						}
					}
				}
				.botonesForNavigator {
					margin-top: 35px;
					a {
					    margin-left: 70px;
					    padding-top: 60px;
					    max-width: 150px;
					    max-height: 150px;
					    padding-bottom: 70px;
						i {
							font-size: 40px;
							color: var(--white);
						}
					}
					.botonSlide {
						background-color: var(--success);
					}
					.botonFile {
						background-color: var(--purple);
					}
					.botonImage {
						background-color: var(--info);
					}
					.botonFilm {
						background-color: var(--blue);
					}
					.botonUsers {
						background-color: var(--red);
					}
				}
			}
		}
	}
}




/*===========  End of Inicio  ==============*/
